<div class="picture-form-wrapper">
  <div class="picture-form-header">
    <h2 class="mb-3 font-weight-normal">Create post</h2>
  </div>
  <%= form_with(model: picture, url: choose_new_or_edit, local: true, class: "picture-form") do |form| %>
    <% if picture.errors.any? %>
      <div class="alert alert-danger">
        <h6><%= picture.errors.count %>件のエラーがあります。</h6>
        <ul>
          <% picture.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="picture-user-name">
      <%= current_user.first_name %>
    </div>
    <%= form.label :content, class: "sr-only" %>
    <%= form.text_area :content, class: "form-control" , placeholder: "What's on your mind, #{current_user.first_name}?" %>
    <div class="mb-3">
      <%= image_tag(picture.image.url) if picture.image && picture.image.url %>
      <%= form.label :image, class: "sr-only" %>
      <%= form.file_field :image, class: "form-control", id: "formFile" %>
      <%= form.hidden_field :image_cache %>
    </div>
    <%= form.submit "Post", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>