<% provide(:title, "show") %>
<div class="show-picture-wrapper">
  <%= image_tag(@picture.image.url, class: "show-picture-image") if @picture.image && @picture.image.url %>
  <div class="non-image-wrapper">
    <div class="picture-profile-wrapper">
      <a href=<%= user_path(@picture.user.id)%>>
        <%= image_tag "dummy_user.jpg", class: "picture-user-image", alt: "user-img" %>
      </a>
      <div class="picture-profile">
        <%= link_to get_user_name(@picture.user), user_path(@picture.user.id) %>
        <%= link_to time_ago_in_words(@picture.created_at), picture_path(@picture.id) %>
      </div>
    </div>
    <div class="picture-content">
      <%= @picture.content %>
    </div>
    <% if @picture.user == current_user %>
      <div class="picture-btns">
        <%= link_to "Edit", edit_picture_path(@picture.id), class: "btn btn-secondary" %>
        <%= link_to "Delete", picture_path(@picture.id), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか?"} %>
      </div>
    <% end %>
    <div class="picture-footer">
      <div class="picture-favorites-count">
        <span><%= pluralize(@picture.favorites.count, "Like") %></span>
      </div>
      <div class="picture-favorite">
        <% if @picture.user.id != current_user.id %>
          <% if @favorite %>
            <%= link_to(content_tag(:i, "", class: "fas fa-thumbs-up fa-blue") + " Like", favorite_path(@favorite.id), method: :delete) %>
          <% else %>
            <%= link_to(content_tag(:i, "", class: "far fa-thumbs-up") + " Like", favorites_path(picture_id: @picture.id), method: :post) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>